<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link href="/css/info_product.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div th:each="img : ${product.getImageList()}" class="img">
            <img th:src="'/img/'+ ${img.getFileName()}" width="300px">
        </div>
    </div>

    <div class="description">
        <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
        <p th:text="'Описание: ' + ${product.getDescription()}"></p>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
        <p th:text="'Продавец ' + ${product.getSeller()}"></p>
        <p th:text="'Категория:  ' + ${product.getCategory().getName()}"></p>
    </div>
</div>
</body>
</html>