<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
    <link href="/css/mainpage.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="flex-container">
        <h3>Доступные товары</h3>
    </div>
    <div class="header_links">
        <a th:href="@{/auth/login}">Войти в личный кабинет</a>
    </div>
</div>
<div class="navbar">
    <div class="form">
        <div class="form_border">
        <form th:method="POST" th:action="@{/product/search}">
                <p>Поиск по наименованию</p>
                <input type="search" name="search"  th:value="*{value_search}" id="search">
                <p class="price">Цена, ₽</p>
                <p>От</p>
                <input type="text" name="from" th:value="*{value_from}" id="from">
                <p>До</p>
                <input type="text" name="to" th:value="*{value_to}" id="to">
            <div class="">
                <div class="">
                    <input type="radio" id="asc_price" name="price" value="asc_price">
                    <p for="asc_price">Отсортировать по возрастанию цены</p>
                </div>
                <div class="">
                    <input type="radio" id="desc_price" name="price" value="desc_price">
                    <p for="desc_price">Отсортировать по убыванию цены</p>
                </div>
            </div>
            <div class="radio">
                <p>Категория товаров: </p>
                <div class="category">
                <input type="radio" id="furniture" name="category" value="furniture">
                <p for="furniture">Мебель</p>
                </div>
                <div class="category">
                <input type="radio" id="appliances" name="category" value="appliances">
                <p for=appliances>Бытовая техника</p>
                </div>
                <div class="category">
                <input type="radio" id="clothes" name="category" value="clothes">
                <p for="clothes">Одежда</p>
                </div>
            </div>
                <br>
                <br>
            <button type="submit">Найти</button>
        </form>
        </div>
</div>
    <div class="positions">
        <div th:each="product : ${search_product}" class="product_card_search">
            <img th:src="'/img/'+ ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Цена: '+ ${product.getPrice()}"></p>
        </div>
        <div th:each="product : ${products}" class="product_card">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
    </div>
</div>
</body>
</html>