body{
    background: linear-gradient(#9A5044, #E8D9A9) fixed;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2%;
    width: 20%;
    height: auto;
    background-color: #E8D9A9;
}

.product_card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card img{
    margin-top: 5%;
    width: 75%;
    border: 2px solid gray;
}

.product_card p{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font: 16px bold;
}

.product_card h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 7px;
}

.flex-container{
    display: flex;
    margin-left: 17%;
    justify-content: center;
    flex: 4;
}

.header_links {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    float: right;
    text-decoration: none;
    cursor: pointer;
    flex: 1;
}
.flex-container p{
    font-size: 18px;
    float: right;
    margin-right: 35%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}