body{
    background: linear-gradient(#9A5044, #E8D9A9) fixed;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;

}

.test a{
    margin-top: 20px;
    font: 16px italic Roboto;
    text-decoration: none;
    color: #bb4848;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: center;
}

.header h3{
    font: 26px italic Roboto;
}

.form{
    display: flex;
    justify-content: center;
    align-self: center;
}

.form input {
    margin-bottom: 30px;
    border-radius: 7px;
    padding: 10px;
    padding-right: 50px;
    border: none;
    outline: none;
}

.form input:hover,
.form input:focus{
    border: none;
    box-shadow: 2px 3px #bb4848;
    transition: width 1s, height 2s, transform 2s;
}



.form button{
    border-radius: 7px;
    border: 1px solid gray;
    padding: 10px 73px;
    background-color: blanchedalmond;
}

.form button:hover{
    box-shadow: 2px 3px #bb4848;
    transition: width 1s, height 2s, transform 2s;
}