body{
    background: linear-gradient(#9A5044, #E8D9A9) fixed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper a{
    margin-top: 15%;
}

.wrapper h2 {
    margin-top: 15%;
}